{% extends "layout.html" %}
{% block content %}
blogs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% if is_login %}
<a href="/new_blog">写博客</a><br/>
{% else %}
<br/>
{% endif %}
{% for blog in blogs %}
 <p class="blog_item"><span>Title:</span>{{ blog.title }}</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if blogs.has_previous %}
            <a href="?page={{ blogs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
        </span>

        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
