<head>
    <meta charset="UTF-8">
    <meta name="description" content="Neupals是专门针对K-12（小学至高中阶段）阶段学生设计的安全的网络社区. 目前已有超过200个国家的百万个班级在社区内相互合作联系，是您/您孩子走向世界的起点."/>
    <meta name="keywords" content="Neupals,国际交流，语言学习，学英语，学生社区，学生论坛，家长论坛，老师论坛"/>
    <meta name="robots" content="index, follow"/>
    <title>NeuPals | {% block title %}全球学生社区{% endblock %}</title>
    <link href="http://d30ujcft97jk62.cloudfront.net/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_css/core.css" media="screen"/>
    <script src="{{ STATIC_URL }}core/js/yui-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core_js/core.js"></script>


</head>
